<p>
	<strong>Fecha</strong>
<%= @show.date_show %>
</p>
<p>
	<strong>Hora</strong>
<%= @show.time_show %>
</p>
<p>
	<strong>Pelicula</strong>
<%= @show.movie_id %>
</p>
<p>
	<strong>Sala</strong>
<%= @show.theater_id %>
</p>

