.header{
	background-color: #333;
	height: 60px;
}

.movie-box {
	border: 3px solid grey; 
	margin-top: 100px;
	width: 80%;
}	

.slogan h1{
	color: white;
}


.logo img{
	width: 185px;
	height: 60px;
}
